<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>北京高校大学生创新创意路演</title>
  <link rel="stylesheet" href="__PUBLIC__/css/base.css">
  <link rel="stylesheet" href="__PUBLIC__/css/jquery.dataTables.css">
  <link rel="stylesheet" href="__PUBLIC__/css/table.css">
  <link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>
<body>
  <div class="container">
  <table id="user_table">
    <thead>
      <foreach name="key" item="k">
        <th>{$k}</th>
      </foreach>

      <th>操作</th>
    </thead>
    <tbody>
      <foreach name="list" item="vo">
        <tr>
        <foreach name="vo" item="value">
          <td>{$value}</td>
        </foreach>
        <td><a href="{:U('Index/detail',array('id'=>$vo['id']))}">【详情】</a>
          <a href="{:U('Index/modify',array('id'=>$vo['id']))}">【修改】</a>
        </td>
      </tr>
      </foreach>
  </tbody>
  </table>
</div>

</body>
<script src="__PUBLIC__/js/jquery-2.2.3.min.js"></script>
<script src="__PUBLIC__/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#user_table').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        }
    });
});
</script>
</html>
